body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #001e27;
    color: white;
    padding: 10px 0;
    width: 100%;
    top: 0; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

header .logo {
    position: absolute;
    left: 50px;
    width: 120px;
    height: auto;
}

header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 600px;
    margin: 20px auto; /* Ajuste a margem conforme necessário */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: flex;
    margin-top: 10px;
}

form input[type="text"],
form input[type="date"],
form input[type="email"],
form input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #001e27;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #005f73;
}
 
#menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 80px 0 40px 60px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #1F9EA7;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding:  58px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: -50px;
    left: -55px;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 220px 0 100px 30px;
    background: radial-gradient(circle, #05395a, #001e27);
    opacity: 90%;
    transition: 0.3s ease;
    margin-right: 40px;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height:1010px;
    transform: translate(-60%,-30%);
  }
  .conect{
    color:white;
    font-size: 20px;
    text-decoration: none;
  }