/* Novo banner azul escuro no topo */
.top-banner {
    background-color: #001e27;
    width: 100%;
    height: 50px; /* Ajuste conforme necessário */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o banner fique acima do conteúdo */
}

/* Modificações para tornar o layout responsivo e centralizado */
body {
    background-color: #1f9ea8;
    margin: 0; /* Remover margens padrão */
    text-align: center;
}

.comeco {
    display: none; /* Não é mais necessário */
}

.titulo {
    display: none; /* Não é mais necessário */
}

.banner1,
.banner2 {
    width: 100%; /* Ocupa toda a largura disponível */
}

.logo {
    width: 140px; /* Tamanho ajustável */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Garante que a margem automática funcione */
}

.footer {
    position: relative; /* Alteração para permitir o fluxo do conteúdo */
    padding-top: 50px; /* Ajuste conforme a altura do banner */
}
.container {
    max-width: 20%; /* Defina a largura máxima do container */
    height: 100%;
    text-align: center;
    margin: 0 auto; /* Centraliza o container horizontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    padding: 20px;
}

.footer {
    background-color: white;
    padding: 20px 0;
    padding-top: 50px; /* Ajuste conforme a altura do banner */
    position: absolute;
    width: 100%;
    bottom: 0;
}