body{
    background-color:#1f9ea8;
    
  
}

.comeco {
    background-color: #001e27;
    width: 100%; 
    height: 180px;
    margin-left: -8px;
    margin-top: -9px;
    position: absolute;
}
.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 370px;
    top: 30px;
}
.dois {
    text-align: end;
    margin-top: 110px;
}

.conhecer, .entra {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 15px;
    display: inline-block;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Adicionando uma transição suave para o tamanho */
    font-family: Arial, Helvetica, sans-serif;
}

.conhecer:hover, .entra:hover {
    transform: scale(1.1); /* Aumentando o tamanho em 10% ao passar o mouse */
}
.conhecer{
    background-color: #d8fe00;
    color: black;
}
.logo{
    position: absolute;
    top: -22%;
    width: 200px;
    top: -10px;
}
.banner1{
    width: 90%;
    margin-top: 140px;
}
.banner2{
    width: 100%;
    margin-top: -4px;
    height: 200%;
    margin-left: -10px;
}
@media screen and (max-width: 768px) {
    .logo {
        top: -10px;
        width: 140px;
        margin-left: 120px;
    }
}

.banner1 {
    margin-top: 170px; /* Mantém a margem original para telas maiores */
}

.banner2 {
    margin-top: 12px; /* Mantém a margem original para telas maiores */
    height: 200%; /* Mantém a altura original para telas maiores */
    margin-left: -0px; /* Mantém a margem original para telas maiores */
}
@media screen and (max-width: 768px) {
    .titulo {
        display: none; /* Esconde o elemento em telas menores que 768 pixels de largura */
    }
}

footer{
    background-color: #1F9EA7;
    width: 100%;
    margin-left: -10px;
    position: absolute;
height: 70%;
margin-top: -5px;

}
.copy{
    background-color: #e0e0e0;
    width: 100%;
    text-align: center;
    margin-top: 32%;
    height: 44px;
    font-size: 10px;
    
}
.text{
   
    
    position: absolute;
    margin-top: 14px;
    height: 30px;
    font-size: 10px;
    left: 46%;
}
@media screen and (max-width: 768px) {
    .copy {
        margin-top: 110%; /* Ajuste a margem superior para telas menores */
        height: 30px; /* Ajuste a altura para telas menores */
        font-size: 8px; /* Ajuste o tamanho da fonte para telas menores */
       margin-left: -20px;
       width: 105%;
    }
    
    .text {
        margin-top: 10px; /* Ajuste a margem superior para telas menores */
        height: 20px; /* Ajuste a altura para telas menores */
        font-size: 8px; /* Ajuste o tamanho da fonte para telas menores */
        margin-left: -20px;
    }
}

.container{
    max-width: 1435px;
    margin: auto;
    padding: 5rem 2rem;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}
