body{
    background-color:#1f9ea8;
      
}

.comeco {
    background-color: #001e27;
    width: 100%; 
    height: 180px;
    margin-left: -8px;
    margin-top: -9px;
    position: absolute;
}
.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 370px;
    top: 30px;
}
.dois {
    text-align: end;
    margin-top: 110px;
}

.conhecer, .entra {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 15px;
    display: inline-block;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Adicionando uma transição suave para o tamanho */
    font-family: Arial, Helvetica, sans-serif;
}

.conhecer:hover, .entra:hover {
    transform: scale(1.1); /* Aumentando o tamanho em 10% ao passar o mouse */
}
.conhecer{
    background-color: #d8fe00;
    color: black;
}
.logo{
    position: absolute;
    top: -22%;
    width: 200px;
    top: -10px;
}

.logorodape{
    position: absolute;
    top: -22%;
    width: 240px;
    top: -10px;
}

.banner1{
    width: 90%;
    margin-top: 140px;
}
.banner2{
    width: 100%;
    margin-top: -4px;
    height: 200%;
    margin-left: -10px;
}
@media screen and (max-width: 768px) {
    .logo {
        top: -10px;
        width: 140px;
        margin-left: 120px;
    }
}

.banner1 {
    margin-top: 170px; /* Mantém a margem original para telas maiores */
}

.banner2 {
    margin-top: 12px; /* Mantém a margem original para telas maiores */
    height: 200%; /* Mantém a altura original para telas maiores */
    margin-left: -0px; /* Mantém a margem original para telas maiores */
}
@media screen and (max-width: 768px) {
    .titulo {
        display: none; /* Esconde o elemento em telas menores que 768 pixels de largura */
    }
}

footer{
    background-color: #1F9EA7;
    width: 100%;
    margin-left: -10px;
    position: absolute;
height: 30%;
margin-top: -5px;

}
.copy{
    background-color: #e0e0e0;
    width: 101%;
    text-align: center;
    margin-top: 10%;
    height: 100%;
    font-size: 10px;
    margin-left: -7px;
    
}
.text{
   
    
    position: absolute;
    margin-top: 8px;

    font-size: 10px;
    left: 46%;
}
@media screen and (max-width: 768px) {
    .copy {
        margin-top: 110%; /* Ajuste a margem superior para telas menores */
        height: 30px; /* Ajuste a altura para telas menores */
        font-size: 8px; /* Ajuste o tamanho da fonte para telas menores */
       margin-left: -20px;
       width: 105%;
    }
    
    .text {
        margin-top: 10px; /* Ajuste a margem superior para telas menores */
        height: 20px; /* Ajuste a altura para telas menores */
        font-size: 8px; /* Ajuste o tamanho da fonte para telas menores */
        margin-left: -20px;
    }
}

.container{
    max-width: 1435px;
    margin: auto;
    padding: 5rem 2rem;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #001e27;
    margin-bottom: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer .column h4{
    color: #001e27;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #001e27;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer .column > a:hover{
    color: #ffffff;
}
.icons {
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-top: 110px;
    
}

.face {
    margin-right: 40px; /* Define a margem entre os ícones */
    transition: transform 0.3s ease-in-out; /* Adiciona transição de transformação */
}

.face:hover {
    transform: scale(1.2); /* Aumenta o tamanho do ícone ao passar o mouse */
}
.barra{
    background-color: #1f9ea7;
    width: 100%;
    position: absolute;
    left: -1px;
    margin-top: 6%;
    height: 89px;
}
@media screen and (max-width: 1435px) {
    .container {
        padding: 5rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    footer {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    .logorodape{
        display: none; 
    }
}

@media screen and (max-width: 768px) {
    .icons {
        left: 50%; /* You may need to adjust this value based on your design */
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 768px) {
    .barra {
        /* Adjust properties for smaller screens */
        margin-top: 91%; /* Example adjustment */
        height: 60px; /* Example adjustment */
    }
}
@media screen and (max-width: 768px) {
    .icons {
        left: 54%; /* Center horizontally */
        transform: translateX(-50%);
        margin-top: 95%; /* Adjust margin-top for smaller screens */
    }
}